{% extends 'base.html.twig' %}

{% block title %}Peticiones{% endblock %}

{% block body %}
    <body class="bg-grey">
    {% include '_header.html.twig' %}
    <main>
        <div class="container pt-5">
            <div class="row pt-5">
                <div class="col-3 pt-3">
                    <div class="list-group">
                        <a href="{{ path('app_tutor_request_received') }}"
                           class="list-group-item list-group-item-action active"><i
                                    class="bi bi-inbox pe-4"></i>Peticiones recibidas
                        </a>
                        <a href="{{ path('app_tutor_request_sended') }}" class="list-group-item list-group-item-action"
                           aria-current="true">
                            <i class="bi bi-send pe-4"></i>Peticiones enviadas
                        </a>
                    </div>
                </div>
                <div class="col-9">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Alumno</th>
                            <th scope="col">Fecha de recibo</th>
                            <th scope="col">Acciones</th>
                        </tr>
                        </thead>
                        <tbody class="align-middle">
                        {% for receivedRequest in receivedRequests %}
                            <tr>
                                <th scope="row">
                                    <div class="list-thumbnail">
                                        <div class="list-thumbnail-image"
                                                {% if receivedRequest.studentOffer.student.thumbnail %}
                                                    style="background-image: url('/uploads/images/thumbnails/students/{{ receivedRequest.studentOffer.student.thumbnail }}');"
                                                {% else %}
                                                    style="background-image: url('/assets/images/thumbnails/students/default.png')";
                                                {% endif %}
                                        >
                                        </div>
                                    </div>
                                </th>
                                <td><a href="">{{ receivedRequest.company.name  }}</a></td>
                                <td>{{ receivedRequest.studentOffer.student.name  }}</td>
                                <td>{{ receivedRequest.createdAt | date ('Y-m-d h:i') }}</td>
                                {% if receivedRequest.status == 'accepted' %}
                                    <td><i class="bi bi-check-circle-fill text-success pe-2"></i>Aceptada</td>
                                {% elseif receivedRequest.status == 'denied' %}
                                    <td><i class="bi bi-x-circle-fill text-danger pe-2"></i>Denegada</td>
                                {% elseif receivedRequest.status == 'undefined' %}
                                    <td>
                                        <a href="{{ path('app_request_accept', {'id': receivedRequest.id, 'student':receivedRequest.studentOffer.student}) }}" class="btn btn-success" title="Aceptar"><i class="bi bi-check2"></i></a>
                                        <a href="{{ path('app_request_deny', {'id': receivedRequest.id}) }}" class="btn btn-danger" title="Denegar"><i class="bi bi-x-lg"></i></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}