<header class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand me-5" href=""><img src="/assets/images/logo.png"> </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link  {% if app.request.pathInfo == path('app_tutor_search_companies') %}active{% endif %}" aria-current="page" href="{{ path('app_tutor_search_companies') }}">Buscar empresas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  {% if app.request.pathInfo == path('app_tutor_my_students') %}active{% endif %}" href="{{ path('app_tutor_my_students') }}">Mis alumnos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if app.request.pathInfo == path('app_tutor_request_received') or app.request.pathInfo == path('app_tutor_request_sended') %}active{% endif %}" href="{{ path('app_tutor_request_received') }}">Peticiones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if app.request.pathInfo == path('app_show_trainings') or app.request.pathInfo == path('app_show_trainings') %}active{% endif %}" href="{{ path('app_show_trainings') }}">Formaciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="be-tutor-ofertas-publicadas.html">Ofertas publicadas</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
                <p class="m-0">{{ app.user.name }}</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        {% if app.user.profile %}
                            <img src="/uploads/images/profiles/tutors/{{ app.user.profile }}" class="profile-picture" alt="retrato de estudiante">
                        {% else %}
                            <img src="/build/images/default_user.png" class="profile-picture" alt="imagen por defecto">
                        {% endif %}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Ajustes de cuenta</a></li>
                        <li><a class="dropdown-item" href="#">Salir de la sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img src="img/patternpad(3).svg" alt="">
            </div>
        </div>
    </div>
</header>